{% extends "base.html" %}

{% block title %} {{ page_name }} {% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
      <h1 align="center">Welcome to Sheel's CINS 465 Foundations Demo</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-8 medium-8 columns">
      <h5>Here&rsquo;s your basic grid:</h5>
      <!-- Grid Example -->

      <div class="row">
        <div class="large-12 columns">
          <div class="primary callout">
            <p>12 columns</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <div class="primary callout">
            <p>Six columns</p>
          </div>
        </div>
        <div class="large-6 medium-6 columns">
          <div class="primary callout">
            <p>Six columns</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 small-4 columns">
          <div class="primary callout">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="primary callout">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <div class="primary callout">
            <p>Four columns</p>
          </div>
        </div>
      </div>

      <hr />

      <h5>Here's a form example:</h5>
      <form>
        <div class="row">
          <div class="large-12 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-12.columns" />
          </div>
        </div>
        <div class="row">
          <div class="large-4 medium-4 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.columns" />
          </div>
          <div class="large-4 medium-4 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.columns" />
          </div>
          <div class="large-4 medium-4 columns">
            <div class="row collapse">
              <label>Input Label</label>
              <div class="input-group">
                <input type="text" placeholder="small-9.columns" class="input-group-field" />
                <span class="input-group-label">.com</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Select Box</label>
            <select>
              <option value="husker">Husker</option>
              <option value="starbuck">Starbuck</option>
              <option value="hotdog">Hot Dog</option>
              <option value="apollo">Apollo</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <label>Choose Your Favorite</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
            <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
          </div>
          <div class="large-6 medium-6 columns">
            <label>Check these out</label>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Textarea Label</label>
            <textarea placeholder="small-12.columns"></textarea>
          </div>
        </div>
      </form>
    </div>

    <div class="large-4 medium-4 columns">
      <img src="../static/img/kittu.jpg"></img>
      <h5>Documentation links:</h5>
      <div class="row">
          <div class="medium-push-1">
            <p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a></p>
          </div>
          <div class="medium-push-1">
            <p><a href="http://zurb.com/university/code-skills">Foundation Code Skills</a></p>
          </div>
          <div class="medium-push-1">
            <p><a href="http://foundation.zurb.com/forum">Foundation Forum</a></p>
          </div>
        </div>
        <div class="row">
          <div class="medium-push-1">
            <p><a href="http://github.com/zurb/foundation">Foundation on Github</a></p>
          </div>
          <div class="medium-push-1">
            <p><a href="https://twitter.com/ZURBfoundation">@zurbfoundation</a></p>
          </div>
        </div>
      <p>
      <!--  <a href="#" class="button">Simple Button</a><br/>-->
      <!--<a href="#" class="success button">Success Btn</a><br/>-->
      <!--<a href="#" class="alert button">Alert Btn</a><br/>-->
      <!--<a href="#" class="secondary button">Secondary Btn</a></p>-->
      <div class="callout">
        <h5>Personal links!</h5>
        <p>These are my links nomsayn.</p>
        <a href="http://sunscriptmusic.com" class="small button">SunScriptMusic.com</a>
      </div>
    </div>
  </div>

  <!-- <ul style="margin-left: 0.5in;">
    {% for item in submissions %}
    <li> {{ item }} </li>
    {% endfor %}
  </ul> -->
{% endblock %}
